:root {
	/* цвета */

	/* оттенки ч/б */
	--black: #212529;
	--grey--d: #b1a7a6;
	--grey--l: #f5f3f4;
	--white: #fdfdfd;
	/* основной */
	--primary-c: #c71f37;
	--primary-c--d: #83434f;
	/* дополнительные */
	--green: #708d81;

	/* размеры */

	/* 64px */
	--sz-l: 4rem;
	/* 32px */
	--sz-m: 2rem;
	/* 16px */
	--sz-s: 1rem;
	/* 14px */
	--sz-xs: 0.875rem;
	/* 8px */
	--sz-xxs: 0.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--black);
	text-decoration: none;
	transition: all 0.2s;
}

*[role='label'] {
	color: var(--primary-c--d);
	font-size: var(--sz-xs);
}

.fw-m {
	font-weight: 500;
}

.fw-sb {
	font-weight: 600;
}

.fw-b {
	font-weight: 700;
}

button {
	width: fit-content;
	height: fit-content;
	font-size: var(--sz-s);
	font-weight: 500;
}

button:hover {
	cursor: pointer;
}

button.btn-primary {
	padding: var(--sz-s) var(--sz-m);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--sz-xxs);

	border: 1px solid var(--primary-c);
	border-radius: var(--sz-xxs);
	background-color: var(--primary-c);
	color: var(--white);
}

button.btn-primary:hover {
	opacity: 0.8;
}

button.btn-secondary {
	padding: var(--sz-xxs) var(--sz-s);
	border: none;
	border-radius: var(--sz-xxs);
}

button.btn-link {
	border: none;
	background: none;
}

button.btn-link:hover {
	text-decoration: underline;
}

h2 {
	font-size: 2.25rem;
}

select,
input:not(input[type='radio']) {
	padding: var(--sz-xxs) var(--sz-s);

	background-color: var(--grey--l);
	border: none;
	border-radius: var(--sz-xxs);
	font-size: var(--sz-s);
}

select {
	appearance: none;
	cursor: pointer;
}

input::placeholder {
	color: var(--grey--d);
}

.group {
	flex: 1;

	display: flex;
	flex-direction: column;
	gap: var(--sz-xxs);
}

.conc {
	display: flex;
	gap: var(--sz-m);
}

.group:has(select) {
	position: relative;
}

.group:has(select)::after {
	position: absolute;

	width: var(--sz-xs);
	height: var(--sz-xs);

	content: '';
	z-index: 1;
	right: var(--sz-xs);
	bottom: 0.7rem;

	pointer-events: none;

	background-image: url('../assets/icons/arrow-down--select.png');
	background-size: contain;
}

.inner-heading {
	display: flex;
	align-items: flex-end;
	gap: var(--sz-m);
}

.inner-heading h1 {
	flex: 1;
	font-size: var(--sz-l);
}

.inner-heading p {
	flex: 1;
	font-size: 1.25rem;
}

header {
	padding: var(--sz-s) var(--sz-l);

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--sz-m);
}

header ul,
header menu {
	display: flex;
	align-items: center;
	gap: var(--sz-m);

	list-style: none;
}

header nav a:hover,
footer nav a:hover {
	text-decoration: underline;
}

header .btn-secondary:hover {
	filter: brightness(0.95);
}

footer {
	padding: var(--sz-l);

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;

	background-color: var(--black);
}

footer * {
	color: var(--white);
}

footer ul {
	display: flex;
	flex-direction: column;
	gap: var(--sz-s);

	list-style: none;
}

@media (max-width: 768px) {
	.inner-heading {
		flex-direction: column;
		align-items: flex-start;
	}

	.inner-heading h1 {
		font-size: 1.25rem;
	}

	.inner-heading p {
		font-size: 1.1rem;
	}

	header {
		flex-direction: column;
	}

	h2 {
		font-size: 1.5rem;
	}

	footer {
		flex-direction: column;
		align-items: flex-start;
	}
}
